<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Profile Details</string>
		<key>img</key>
		<string>user</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Alloted Plot</string>
		<key>img</key>
		<string>house</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Playment History</string>
		<key>img</key>
		<string>payment-method</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>Make Payment</string>
		<key>img</key>
		<string>cashless-payment</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>Due/Outstanding</string>
		<key>img</key>
		<string>accounts</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>Track Service</string>
		<key>img</key>
		<string>box</string>
	</dict>
</array>
</plist>
