<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Official Website of the corporation</string>
		<key>link</key>
		<string>https://www.hsiidc.org.in</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Global City Gurugram</string>
		<key>link</key>
		<string>https://www.globalcitygurugram.in</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Industries Department Haryana</string>
		<key>link</key>
		<string>https://www.haryanaindustries.gov.in</string>
	</dict>
</array>
</plist>
